.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border-color: rgb(255, 255, 255);
    background-size: cover;
  }
  
  .login-box {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    background-color: #d4c4fb;
    box-shadow: #6f54b3 0px 7px 29px 0px;
    
  
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-button {
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #6540bf;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .login-signup {
    margin-top: 10px;
    color: #472d86;
  }
  
  .login-title {
    font-weight: bold;
    margin-bottom: 20px;
    color: #472d86;
    font-size: 2rem;
  }
  
  .login-input {
    width: 100%;
    color: #472d86;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
  }
  
    .signup-asterisk {
      color: red;
   }
  
    .signup-checkbox-label {
      font-size: small;
    }
    
.login-error {
  color: red;
}
    
  
