.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-color: #fff;
    background-size: cover;
    margin-top: 50px;
  }
  
  .profile-title {
    font-weight: bold;
    margin-bottom: 20px;
    color: #472d86;
    font-size: 2rem;
  }
  
  .profile-content {
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    background-color: #d4c4fb;
    box-shadow: 0px 7px 29px 0px #6f54b3;
  }
  
  .profile-field {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #472d86;
  }
  
  .profile-label {
    width: 100px;
    color: #472d86;
    font-weight: bold;
    text-shadow: 0px 0px 15px white;
  }
  
  .profile-value {
    flex-grow: 1;
  }
  
  .profile-input {
    width: 100%;
    color: #472d86;
    padding: 10px;
    margin-left: 10px;
    border-radius: 15px;
    border: none;
  }
  
  .profile-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .profile-button {
    width: 100px;
    padding: 10px;
    margin-right: 10px;
    background-color: #6540bf;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  .profile-edit {
    background-color: #6540bf;
  }
  
  .profile-save {
    background-color: #6540bf;
  }
  
  .profile-cancel {
    background-color: #6540bf;
  }
  
  